body{
  overflow-y: hidden;
}

.home{
  height: 100vh;
  padding: 150px 0;
  border-radius: 0 0 200px 0;
  position: relative;
  z-index: 1;
  background-image: url('../img/uniTuenda-404.png');
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.home::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--first-color);
  opacity: 0.6;
  border-radius: 0 0 200px 0;
}
