/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&display=swap'); */
/*font*/
/*var*/
:root {
  --header-height: 3rem;
  /*color*/
  /* --first-color: #0671AD; */
  --first-color: #1fc0e5;
  --second-color: #8DD5F3;
  --more-color: #067BAD;
  --first-color-light: #fbf9f9;
  --first-color-lighten:#eceded;
  --text-color: #524748;

  /*FOnts*/
  --body-font: 'Montserrat', sans-serif;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.15rem;
  --h3-foont-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*font weight*/
  --font-medium: 600;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*Margin*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 2.4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-foont-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem
  }
}

/*base*/
*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  /* background-color: var(--first-color-light); */
  background-color: #fff;
  color: var(--text-color);
}

h1, h2, h3, ul, p{
  margin: 0;
}

h2,h3{
  font-weight: var(--font-semi-bold);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.whatsapp {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background: rgba(123, 127, 127, 0.1);
  border-radius: .5rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  /* visibility: hidden; */
}

.fixsocial{
  position: fixed;
  right: 1rem;
  z-index: 1000;
  background: #fff;
  padding: 20px;
  bottom: 10%;
  color: green;
  border-radius: 10px 0px 54px 0px;
}

.fixsocial:hover{
  background-color: var(--first-color);
}

/*Class css*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle{
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
}

/*Layout*/
.bd-container{
  max-width: 1140px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.d-n{
  display: none;
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: transparent;
  /* display: flex; */
  /* padding: 20px 0; */
  height: auto;
}


/**/
.nav .navbar-brand {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  text-transform: unset;
}

@media (min-width: 992px){
.col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
}

@media (min-width: 768px){
.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
}

.col-md-7, .col-lg-7, .col-md-5, .col-lg-5 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.align-items-center {
  align-items: center!important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.home-text h1 {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 20px;
}

.home-text p {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin: 0;
  font-weight: 300;
}

.home .home-btn {
  margin-top: 40px;
}

.btn-1 {
  background-color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: var(--first-color);
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  font-weight: 500;
}

.btn-1:focus{
  box-shadow: var(--shadow-black-300);
}

.btn-1:hover{
  color: #fff;
  background-color: var(--main-color);
}

.text-center {
  text-align: center!important;
}
@media (min-width: 992px){
.col-lg-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
}
@media (min-width: 768px){
.col-md-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
}

.home-imgs .circles {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-imgs .circles::before {
  content: '';
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  left: 30px;
  top: 30px;
  transform-origin: 170px 170px;
  animation: spin_01 10s linear infinite;
}

.home-imgs img {
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 32px;
  animation: bounceTop_01 3s ease infinite;
}

/* img {
  max-width: 100%;
  vertical-align: middle;
} */

@keyframes spin_01{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes bounceTop_01{
  0%, 100%{
    transform: translateY(-30px);
  }

  50%{
    transform: translateY(0px);
  }
}

@keyframes pulse_01{
  0%{
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70%{
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }
  100%{
    transform: scale(0.94);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

.effect-wrap .effect{
  position: absolute;
  z-index: -1;
}

.effect-wrap .effect-1{
  left: 20%;
  top: 20%;
  font-size: 20px;
  color: var(--first-color);
  animation: spin_01 5s linear infinite;
}

.effect-wrap .effect-2{
  right: 5%;
  top: 10%;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  animation: spin_01 7s linear infinite;
}

.effect-wrap .effect-3{
  left: 5%;
  bottom: 30%;
  font-size: 25px;
  color: var(--second-color);
  animation: bounceTop_01 3s linear infinite;
}

.cont{
  animation: pulse_01 2s ease infinite;
}

.cont:hover{
  animation: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/**/
/*Nav*/
.nav{
  /* height: var(--header-height); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

@media screen and (max-width: 751px) {
  .nav_menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: #000;
    transition: .4s;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
  }
}

.nav_item{
  margin-bottom: var(--mb-3);
}

.nav_link{
  color: #fff;
  transition: .3s;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s;
  
}

/* .nav_link:hover{
  color: var(--second-color);
} */

.nav_link:hover{
  border-bottom: 3px solid #fff;
  padding: 10px 0;
}

.nav_logo, .nav_toggle{
  color: #fff;
}

.nav_toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

/*Show menu*/
.show-menu{
  top: 6rem;
  /* top: var(--header-height); */
}

/*active link*/
.active-link{
  position: relative;
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.7rem;
  left: 0;
  width: 65%;
  height: 3px;
  background-color: #fff;
}

/*change bacground header*/
.scroll-header{
  background-color: var(--first-color);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.scroll-header .nav_logo, .scroll-header .nav_toggle, .scroll-header .nav_link{
  color: #fff;
}

.scroll-header .nav_menu{
  background-color: var(--first-color);
}

/*scroll-top*/
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background: rgba(123, 127, 127, 0.1);
  border-radius: .5rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color);
}

.scrolltop_icon{
  font-size: 2rem;
  color: var(--second-color);
}

/*show scroll*/
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*scroll-down*/
.scroll-down{
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.mouse{
  width: 2.5rem;
  height: 5rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  margin-bottom: .5rem;
  display: flex;
}

.mouse span{
  width: 1rem;
  height: 1rem;
  background-color: var(--second-color);
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: move 1s linear infinite;
}

.arrow span{
  display: block;
  width: 1rem;
  height: 1rem;
  border: 2px solid transparent;
  border-right-color: #fff;
  border-bottom-color: #fff;
  transform: rotate(45deg);
  animation: move-down 1s linear infinite;
}

@keyframes move{
  0%{
    opacity: 0;
    transform: translateY(-1rem);
  }
  100%{
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes move-down{
  0%{
    opacity: 0;
  }
  25%{
    opacity: .25;
  }
  50%{
    opacity: .5;
  }
  75%{
    opacity: .75;
  }
  100%{
    opacity: 1;
  }
}

.svg-header{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.home_container {
  position: relative;
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  align-content: space-around;
  row-gap: 2rem;
  /* padding-top: 4rem; */
}

/* Intro */
.intro {
	text-align: center;
	color: #fff;
}

.intro h1 {
	font-size: var(--big-font-size);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.intro h1::after {
	content: '';
	display: block;
	width: 20px;
	height: 4px;
	background: #fff;
	margin: 10px auto;
}

.intro p {
	font-style: italic;
	font-size: 1.125em;
  margin-bottom: 10px;
}
/**/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-light);
  padding: .75rem 1rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: .3s;
  box-shadow: 0 5px 15px -5px #00000070;
  position: relative;
  overflow: hidden;
}

.button-link{
  background: none;
  color: var(--first-color);
  padding: 0;
}

.button-link:hover{
  background: none;
}

.button:hover{
  background-color: #fff;
  color: var(--first-color);
}

.button_icon{
  font-size: 1.25rem;
  margin-left: var(--mb-1);
  transition: .3s;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

.button-white{
  background-color: #fff;
  color: var(--second-color);
}

.button-white:hover{
  background-color: #ffffff;
  color: #0671AD;
}

/*About*/
/* .back-about{
  background-color: #f2f2f2;
} */

.about{
  min-height: 90vh;
}

.about_data{
  text-align: center;
}

.about_description span{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.about_number{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  display: block;
}

.about_img{
  justify-self: center;
  width: 220px;
  height: 300px;
  border-top-left-radius: 65px;
  border-bottom-right-radius: 65px;
}

/**/
.about_info{
  display: flex;
  justify-content: space-evenly;
}

.about_info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.about_info-name{
  font-size: var(--smaller-font-size);
}

.about_info-name,
.about_info-title{
  display: block;
  text-align: center;
}

/*Footer start🎮*/
.footer{
  background: var(--first-color);
}

.foot{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  color: #fff;
}

.single-footer{
  width: 244px;
}

.single-footer:first-child{
  width: 400px;
}

.single-footer h4{
  font-size: 22px;
  margin-bottom: 20px;
}

.single-footer{
  margin-top: 20px;
}

.single-footer ul{
  list-style: none;
}

.single-footer ul li{
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.single-footer ul li a{
  color: #fff;
}

.single-footer ul li a i{
  position: absolute;
  left: 0;
  top: 5px;
  color: #fff;
}

.social-footer a{
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 15px;
}

.copy-right{
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

/* responsive */
@media screen and (min-width: 576px) {
  .home_img img{
    width: 330px;
  }
  .about_container,
  .qualification_container,
  .services_container,
  .portfolio_container,
  .project_container,
  .grid_box{
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 50px;
  }

  .project_data{
    margin: 0 auto;
    padding-top: 20%;
    padding-left: 20%;
  }

  .portfolio_img{
    width: 320px;
  }
  .portfolio_content{
    align-items: center;
  }

  .home_container {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 751px) {
  body{
    margin: 0;
  }
  .section{
    padding-top: 6rem;
  }

  .d-none{
    display: none;
  }

  .d-n{
    display: block;
  }

  .section-title{
    margin-bottom: var(--mb-5);
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav_list{
    display: flex;
  }

  .nav_item{
    font-weight: bold;
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav_toggle{
    display: none;
  }

  .home_container{
    height: 100vh;
    grid-template-columns: max-content .5fr;
    align-content: flex-end;
  }

  .home_greeting{
    font-size: 1.25rem;
  }

  .about_description{
    text-align: initial;
    text-align: justify;
  }

  .about_img{
    width: 300px;
  }

  .services_container,
  .portfolio_container{
    grid-template-columns: repeat(3, 1fr);
  }

  .project_container{
    padding: 4.5rem 0;
  }

  .swiper-portfolio-icon{
    font-size: 3rem;
  }
}

@media screen and (min-width: 576px) {
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 751px) {
  /* .l-header{
    padding: 30px 0;
  } */
}
