.home{
  height: 100vh;
  padding: 150px 0;
  border-radius: 0 0 200px 0;
  position: relative;
  z-index: 1;
  background-image: url('../img/home-img.jpg');
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.home::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--first-color);
  opacity: 0.6;
  border-radius: 0 0 200px 0;
}

/*profile*/
.profile{
  margin-top: 100px;
}

.mission{
  padding-bottom: 150px;
}

.profile h1{
  text-align: center;
  color: #0671AD;
}

.profile p{
  text-align: center;
  color: #fff;
}

/*services*/
.services_data{
  padding: 3rem 1rem;
  background-color: #fff;
  text-align: center;
  transition: .4s;
  border-top-left-radius: 65px;
  border-bottom-right-radius: 65px;
}

.services_icon, .services_title{
  margin-bottom: var(--mb-2);
  color: var(--first-color);
}

.services_icon{
  font-size: 3rem;
}

.services_title{
  font-size: var(--h3-foont-size);
}

.services_description{
  margin-bottom: var(--mb-4);
}

.services_data:hover{
  transform: translateY(-.5rem);
  box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

/*Project*/
.project_container{
  padding: 1.5rem 1rem;
  background-color: var(--second-color);
  color: white;
  border-top-left-radius: 65px;
  border-bottom-right-radius: 65px;
  text-align: center;
}

.project_bg{
  background-color: var(--second-color);
  padding-top: 3rem;
}

.project_title{
  font-size: 1.2rem;
  margin-bottom: var(--mb-2);
}

.project_description{
  margin-bottom: 5px;
}

.project_title,
.project_description{
  color: #fff;
}

.mb{
  margin-bottom: 20px;
}

blockquote{
  color: #fff;
  font-size: 3em;
  text-align: center;
}

/**/
.portfolio_container{
  overflow: initial;
}

.portfolio_content{
    color: white;
    background-color: var(--second-color);
    border-radius: 1rem;
    padding: 2rem 1rem;
}

.portfolio_img{
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio_title{
  font-size: var(--h3-foont-size);
  margin-bottom: var(--mb-2);
}

.portfolio_description{
  margin-bottom: var(--mb-5);
}

.portfolio_button:hover .button_icon{
  transform: translateX(.25rem);
}

/*swiper*/
.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}

.swiper-portfolio-icon{
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-next{
right: -.5rem;
}

.swiper-button-prev{
  left: -.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
  bottom: -2.5rem;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet{
  outline: none;
}

/*testimonial*/
.testimonial_data,
.testimonial_header{
  display: flex;

  flex-direction: column;
  align-items: center;
}

.testimonial_data{
  justify-content: space-between;
  margin-bottom: var(--mb-1);
  text-align: center;
}

.testimonial_img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: var(--mb-1);
  margin-right: 0;
}

.testimonial_name{
  font-size: var(--h3-foont-size);
  font-weight: var(--font-medium);
}

.testimonial_client{
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.testimonial_description{
  margin-bottom: var(--mb-2);
  text-align: center;
}

.testimonial_icon-star{
  color: var(--second-color);
}

.swiper-container .swiper-pagination-testimonial{
  bottom: 0;
}

/**/
/* .bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("../img/work1.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;

} */

.bg {
  padding: 150px 0;
  position: relative;
  z-index: 1;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
  url('../img/work1.jpg');
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--first-color);
  opacity: 0.4;
}

.wi{
  width: 300px;
}

/**/
.depoiment {
  position: relative;
}

.depoiment-card {
  position: absolute;
  right: 100px;
  margin-top: 100px;
  width: 500px;
  height: calc(43% - 80px);
  background: #fff;
  /* position: relative; */
  color: #000;
  margin: 100px;
  z-index: 1;
  padding: 40px;
  opacity: 0;
  transition: opacity .1s;
}

#slide-card .depoiment-card.selected{
  opacity: 1;
}

.txti-card {
  display: flex;
}

.txti-card p {
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 10px;
}

.txti-card img {
  margin-right: 30px;
  width: 80px;
  height: 80px;
  border: 3px solid var(--bg);
  padding: 3px;
  border-radius: 50%;
}

.circle{
  position: absolute;
  width: 250px;
  height: 250px;
  background: linear-gradient(130deg, rgba(77,13,191,.8), rgba(255,255,255,.2));
  border-radius: 50%;
}

.circp2{
  position: relative;
  background: linear-gradient(130deg, rgba(5, 219, 242, .8), rgba(255,255,255,.2));
  border-radius: 50%;
  margin: 0 auto;
}

/*Plan*/
.section-plans .section-title{
  padding-top: 6rem;
}

.subtitle-p{
  text-align: center;
  padding-bottom: 40px;
}
/* ----------------------------------------------- */
/* PLAN */
/* ----------------------------------------------- */
.section-plans {
  background-color: #f4f4f4;
  /* height: 100vh; */
  min-height: 100vh;
  padding-bottom: 40px;
}

.plan-box.backg{
  background-color: var(--first-color);
  color: #fff;
}

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef;
  text-align: center;
}

.plan-box div {
  padding: 15px;
}

.plan-box div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: var(--second-color);
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

/**/
.testimonial-content{
  display : grid;
  background-color: var(--first-color);
  color: white;
  border-top-left-radius: 65px;
  border-bottom-right-radius: 65px;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(47, 10, 13, .25);
}

.swiper-pagination{
  position: initial;
}

.swiper-pagination-bullet-active{
  background-color: var(--second-color);
}

/*contact*/
.back{
  background-color: var(--first-color-lighten);
}

.contact_container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.contact_box{
  background-color: #fff;
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}

.contact_icon{
  font-size: 2rem;
}

.contact_title{
  font-size: var(--h3-foont-size);
  margin: var(--mb-1);
}

.contact_social{
  color: var(--first-color);
  font-size: 1.25rem;
  margin: 0 var(--mb-1);
}

.contact_box:hover{
  box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

.contact_inputs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.contact_input, .contact_button{
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.contact_input{
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--first-color-light);
  color: var(--first-color);
  border-radius: .5rem;
  margin-bottom: var(--mb-1);
}

.contact::placeholder{
  color: var(--first-color-light);
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
}

.contact_button{
  cursor: pointer;
  border: none;
}
